/**
 * Telegram button
 */
 .telegram-button {
    align-items: center;
    padding: 10px 15px;
    background-color: #0088cc;
    color: #ffffff;
    border: 1px solid #0088cc;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
  
    svg {
      margin-right: 5px;
    }

    span {
      color: #ffffff;
    }
  
    &:hover {
      background-color: #005f99;
      border-color: #005f99;
    }
  }
  